* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #288d26;
}

img {
  width: 100%;
  position: absolute;
}

.car-container {
  width: 15%;
  position: relative;
}

.ArrowLeft {
  transform: rotate(180deg);
  transition-duration: 0.5s;
  transition-property: transform;
}

.ArrowRight {
  transform: rotate(0deg);
  transition-duration: 0.5s;
  transition-property: transform;
}

.ArrowUp {
  transform: rotate(270deg);
  transition-duration: 0.5s;
  transition-property: transform;
}

.ArrowDown {
  transform: rotate(90deg);
  transition-duration: 0.5s;
  transition-property: transform;
}
